@import url('https://fonts.googleapis.com/css2?family=Sofia&family=Trocchi&display=swap'); /*Titulo "Lolos"*/
@import url('https://fonts.googleapis.com/css2?family=Sofia&family=Trocchi&display=swap'); /*Banner*/
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Kanit:wght@100&family=Sofia&family=Trocchi&display=swap');/*Header - Footer - Parrafos*/

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

/* -- TIPOGRAFIA -- */
h3{
    font-family: 'Dongle', sans-serif;
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
}

.letraParrafo{
    font-family: 'Dongle', sans-serif;
    font-size: 2.5em;
}

.letraNav,
.letraFooter{
    font-family: 'Dongle', sans-serif;
    font-size: 4em;
}

h2{
    font-family: 'Dongle', sans-serif;
    text-align: center;
    font-weight: bold;
    color: #E6DDC4;
}

/* -- MAIN -- */
.main .header,
.main .footer{
    background-image: radial-gradient(circle at 50% 50%, #192b5a 0, #031332 50%, #00000e 100%);
}

/* -- Header -- */
.main > .header{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.logo-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: #FFCA03;
    font-family: 'Trocchi', serif; 
}

.nav-menu a{
    text-decoration: none;
    color: #E6DDC4;
    letter-spacing:.3rem;
    padding: 0 1.5rem;
}

.nav-menu li{
    transition: 0.7s ease;
}

ul li a:hover{
    color: red;
    background-color: #FFCA03;
    border-radius: 0.5rem;
    box-shadow: 2px 2px red;
}

ul li:hover{
    transform: translateY(5px);
}

/* -- Banner */
.banner{
    margin-top: 9rem;
    width: 100%;
}

.banner-global{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img{
    width: 100%;
    height: auto;
}

.slogan-texto{
    background-color: #064663;
    position: absolute;
    color: #FFCA03;
    border: 3px solid yellow; 
    border-radius: 1rem;
    font-family: 'Sofia', cursive;
}

/* -- Img -- */
.main > .imagen{
    height: 45rem;
}

.imagen iframe{
    width: 100%;
    min-height: 45rem;
}

/* -- Bienv -- */
.bienv,
.container-bienv{
    display: flex;
    width: 100%;
    background-color: tan;
}

.container-bienv{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* -- SERVICIO -- */
.servicio{
    background-color: #6D9886;
}

.container-servicio{
    display: flex;
    justify-content: center;
}

.container-servicio img{
    width: 128px;
    height: 128px;
}

.container-servicio .bloque{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.bloque{
    transition: .7s ease;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
}

.bloque:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 25px black;
}

/* -- Footer -- */
.footer{
    display: flex;
}

.footer .colum{
    display: flex;
    width: 40rem;
    flex-direction: column;
    align-items: center;
}

.colum p,
.colum a,
.colum-redes a{
    color:#E6DDC4;
    text-decoration: none;
    font-size: .8em;
    text-align: center;
}

.footer-logo img{
    width: 20rem;
    height: 20rem;
}

.colum-redes img{
    width: 4rem;
    padding-right: 1.5rem ;
}

h4{
    text-align: center;
    color: #E6DDC4;
}

/* -- VENTANA MENU -- */
.menu{
    margin-top: 9rem;
    background-image: url("../imagenes/menu_imagenes/menu-imagen.jpg");
    background-attachment: fixed;
}

.titulo-mn{
    grid-area: titulo-mn;
}

.sub-mn1{
    grid-area: sub-mn1;
}

.sub-mn2{
    grid-area: sub-mn2;
}

.menu-izq{
    grid-area: menu-izq;
}

.menu-der{
    grid-area: menu-der;
}

.menu-izq,
.menu-der{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    border-radius: 5px;
    background-color: #6D9886;
}

.contenedor-infoMenu{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    width: 35rem;
    height: 20.4rem;
    margin-right: 1rem;
}

/* -- VENTANA NOSOTROS -- */
.banner-nosotros{
    grid-area: banner-nosotros;
}

.img-nosotros1{
    grid-area: img-nosotros1;
}

.img-nosotros2{
    grid-area: img-nosotros2;
}

.parrafo1{
    grid-area: parrafo1;
}

.parrafo2{
    grid-area: parrafo2;
}

/* Banner - NOSOTROS */
.container-nosotros{
    background-color: #031332;
}

.banner-nosotros{
    margin-top: 9rem;
    width: 100%;
    
}

.banner-global-nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slogan-nosotros{
    background-color: #064663;
    position: absolute;
    color: #FFCA03;
    border: 3px solid yellow; 
    border-radius: 1rem;
    font-family: 'Sofia', cursive;
}

.parrafo1,
.parrafo2{
    background-color: tan;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-p1,
.container-p2{
    text-align: center;
    width: 85%;
    height: auto;
}

.img-nosotros1 img,
.img-nosotros2 img{
    width: 100%;
}

/* -- VENTANA LOCALES -- */

.container-locales{
    margin-top: 9rem;
    display: grid;
}

.infoLocales{
    width: 100%;
    display: flex;
}

.infoLocales > img,
.infoLocales > .textoLocales{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: tan;
} 

.descubreLolos{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 85%;
}

/* -- Nuestros Locales -- */
.nuestrosLocales{
    display: grid;
    justify-items: center;
    background-image: url("../imagenes/imagen-local.jpg");
}

.bloque-local{
    width: 30rem;
    text-align: center;
    margin: 1rem 0;
    border-radius: 10px;
    background-color: tan;
}

/* -- VENTANA CONTACTO -- */
.formularioContacto{
    margin-top: 9rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    width: auto;
    background-image: linear-gradient(to bottom, #0d1539, #00203c, #00262e, #002919, #1e2908);
}

.introContacto{
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
    margin: 1rem 2rem 3rem 2rem;
    font-size: 1em;
    background-color: #1A374D;
    color: whitesmoke;
    border-radius: 1rem;
}

.fondo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondo img{
    width: 55rem;
    height: 20rem;
    border-radius: 15px 15px 0 0;
}

.fondo h2{
    text-shadow: 2px 2px #1e2908;
    position: absolute;
    color: black;
}

.frm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario{
    background-color: #E9DAC1;
}

.elemento{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    width: 35rem;
    margin: 1rem auto;
}

.elemento label{
    margin: 1rem;
    padding: .5rem;
    width: 6rem;
    font-size: 1em;
}

.elemento input{
    background-color: #F7ECDE;
    border-radius: 5px;
    width: 20rem;
    height: 2.5rem;
    padding: 1rem;
    outline: none;
    border: none;
}

.formulario input[type="submit"]{
    padding:0;
    margin-top: 25px;
    width: 150px;
    height: 40px;
    color: white;
    background-color: #161E54;
    font-weight: bold;
    cursor: pointer;
}

/* ------------------------------ */
@media screen and (min-width: 320px){
    h2{
        font-size: 2em;
    }

    .main{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
    }

    .main .header,
    .main .banner,
    .main .bienv,
    .main .imagen,
    .main .servicio,
    .main .footer{
        grid-column: 1 / -1;
    }

    .main > .header{
        justify-content: space-around;
    }

    #btnMenu{
        background-color: #FFCA03;
        cursor: pointer;
        padding: 1rem;
        margin-right: 4rem;
    }
    
    .nav-menu{
        display: none;
    }

    .logo-header > h1{
        font-size: 5em;
        margin: 0 10rem 0 2.5rem;
        letter-spacing: 2.5px;
    }

    /* -- Banner -- */
    .banner img{
        width: 100%;
        height: 40rem;
    }

    .slogan-texto{
        padding: 1rem;
        font-size: 2em;
        text-align: center;
    }

    /* -- IMG -- */
    /* --------- */

    /*  -- Bienv -- */
    .bienv{
        height: auto;
        padding: 5rem 0 5rem 0;
    }

    /* -- Servicio -- */
    .container-servicio{
        flex-direction: column;
        align-items: center;
    }

    .container-servicio .bloque{
        flex-direction: column;
        width: 30rem;
        margin: .5rem;
    }

    /* -------- FOOTER ----- */
    .footer{
        flex-direction: column;
        align-items: center;
    }

    .footer > .colum{
        margin: 3.5rem 0;
    }
    /* --------------------- */

    /* -- Ventana - MENU -- */
    .menu{
        grid-template-columns: auto;
        grid-template-areas: 
        "titulo-mn"
        "sub-mn1"
        "menu-izq"
        "sub-mn2"
        "menu-der";
    }

    .lista{
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .lista > img{
        margin-top: 1.5rem;
    }

    /* Ventana - NOSOTROS */
    .container-nosotros{
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
        "banner-nosotros"
        "parrafo1"
        "img-nosotros1" 
        "parrafo2" 
        "img-nosotros2";
    }

    .banner-global-nosotros img{
        height: 60rem;
        width: 100%;
    }

    .slogan-nosotros{
        width: 70%;
        padding: 1rem;
        font-size: 2em;
        text-align: center;
    }

    .img-nosotros1 img,
    .img-nosotros2 img{
        height: 45rem;
    }

    /* ------LOCALES ------- */
    .container-locales{
        grid-template-columns: auto;
    }
    
    .container-locales > .infoLocales,
    .container-locales > .nuestrosLocales{
        grid-column: 1 / -1;
    }

    .infoLocales{
        flex-direction: column;
    }

    .descubreLolos{
        height: 100%;
    }
    /* -- Nuestros Locales -- */
    .nuestrosLocales{
        grid-template-columns: auto;
    }

    .tituloLocal,
    .bloque-local{
        grid-column: 1 / -1;
    }

    /* -- VENTANA CONTACTO -- */
    /* 320px */
    .fondo{
        width: 75%;
    }

    .formulario{
        width: 75%;
    }

}


@media screen and (min-width: 1200px) {
    h2{
        font-size: 3em;
    }

    .main{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

    .main > .header,
    .main > .footer,
    .main > .banner,
    .main > .bienv,
    .main > .menu,
    .main > .container-nosotros,
    .main > .container-locales,
    .main > .formularioContacto{
        grid-column: span 4;
    }

    .main > .imagen,
    .main > .bienv{
        grid-column: span 2;
    }

    /* -- HEADER */
    #btnMenu{
        display: none;
    }

    .nav-menu{
        display: flex;
        list-style: none;
    }

    .logo-header > h1{
        font-size: 7em;
        margin: 0 20rem 0 5rem;
        letter-spacing: 5px;
    }

    /* -- Banner -- */
    .slogan-texto{
        font-size: 3em;
        padding: 2rem;
    }

    /* -- IMG -- */
    /*  -------- */

    /* -- Bienv */
    /* -------- */

    /* -- servicio --  */
    .container-servicio{
        flex-direction: row;
    }
    
    .container-servicio .bloque{
        width: 25rem;
        margin: 3rem;
    }

    /* footer */
    .footer{
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* Ventana - MENU */
    .menu{
        margin-top: 9rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
        "titulo-mn titulo-mn"
        "sub-mn1 sub-mn2"
        "menu-izq menu-der";
    }

    .lista{
        flex-direction: row-reverse;
        justify-content: center;
        width: 60rem;
        height: 25rem;
    }

    /* Ventana - NOSOTROS */
    .container-nosotros{
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-areas:
        "banner-nosotros banner-nosotros"
        "img-nosotros1 parrafo1"
        "parrafo2 img-nosotros2";
    }

    .banner-global-nosotros img{
        height: 100rem;
        width: 100%;
    }

    .slogan-nosotros{
        font-size: 3em;
        padding: 2rem;
    }

    .img-nosotros1 img,
    .img-nosotros2 img{
        height: 55rem;
    }

    /* ----- LOCALES ----- */
    .container-locales{
        grid-template-columns: repeat(2,50%);
    }

    .container-locales > .infoLocales,
    .container-locales > .nuestrosLocales{
        grid-column: span 2;
    }

    .infoLocales{
        flex-direction: row;
    }

    .descubreLolos{
        height: 75%;
    }

    /* -- Nuestros Locales -- */

    .nuestrosLocales{
        grid-template-columns: repeat(3,1fr);
    }

    .tituloLocal{
        grid-column: span 3;
    }
    
    .bloque-local{
        grid-column: span 1;
    }

    /* -- VENTANA CONTACTO -- */
    /* 1200PX */
    .fondo{
        width: 100%;
    }

    .formulario{
        width: 100%;
    }

    







}



