@import url("https://fonts.googleapis.com/css2?family=Sofia&family=Trocchi&display=swap");
/*Titulo "Lolos"*/
@import url("https://fonts.googleapis.com/css2?family=Sofia&family=Trocchi&display=swap");
/*Banner*/
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Kanit:wght@100&family=Sofia&family=Trocchi&display=swap");
/*Header - Footer - Parrafos*/
body {
  background-color: #031332;
}

nav {
  background-image: radial-gradient(circle at 50% 50%, #192b5a 0, #031332 50%, #00000e 100%);
}

nav div {
  font-family: "Dongle", sans-serif;
  font-size: 1.7em;
}

nav div button {
  background-color: #ffca03 !important;
}

nav div li a {
  color: #e6ddc4 !important;
  margin-left: 2rem;
  border-radius: 0.5rem;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

nav div li a:hover {
  color: red !important;
  background-color: #ffca03;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px red;
          box-shadow: 2px 2px red;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.titulo-header {
  font-family: "Trocchi", serif;
  font-size: 50px;
  color: #ffca03;
}

.slogan, .slogan-texto {
  background-color: rgba(1, 46, 70, 0.8);
  position: absolute;
  color: #ffca03;
  border: 3px solid yellow;
  border-radius: 1rem;
  font-family: "Sofia", cursive;
  padding: 1rem;
  text-align: center;
}

.mgb {
  margin-top: 6.5rem;
}

.container-servicio {
  font-family: "Dongle", sans-serif;
  color: #e6ddc4;
  text-align: center;
}

.container-servicio h3 {
  font-size: 2.5em;
}

.container-servicio p {
  font-size: 1.6em;
}

.mg {
  margin-top: 1.5rem;
}

.cont-servicio {
  font-family: "Dongle", sans-serif;
  color: #e6ddc4;
  width: 85%;
  height: auto;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #2b4450;
}

.cont-servicio h3 {
  font-size: 2.5em;
}

.cont-servicio .bloque {
  width: 75%;
  height: auto;
  background-color: #95a5a6;
  border-radius: 1rem;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  margin: 1.5rem;
  font-size: 1.6em;
  font-weight: bold;
}

.cont-servicio .bloque:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 0px 20px #95a5a6;
          box-shadow: 0px 0px 20px #95a5a6;
}

footer {
  background-image: radial-gradient(circle at 50% 50%, #192b5a 0, #031332 50%, #00000e 100%);
  font-family: "Dongle", sans-serif;
  color: #e6ddc4;
}

footer .logo-footer {
  width: 150px;
  height: 150px;
}

footer .sub {
  font-weight: bold;
  margin-bottom: 1rem;
}

footer .email-footer:hover {
  color: #e6ddc4;
}

footer .colum-redes {
  margin: 15px;
}

footer .colum-redes a:hover {
  color: #e6ddc4;
}

footer .img-footer {
  width: 25px;
  height: 25px;
}

footer div {
  font-size: 30px;
}

footer div a {
  text-decoration: none;
  color: #e6ddc4;
}

.mnu {
  background-image: url("../imagenes/menu-background.png");
  background-attachment: fixed;
}

.menu {
  margin-top: 10rem;
  font-family: "Dongle", sans-serif;
  text-align: center;
  color: #e6ddc4;
}

.menu h2 {
  font-size: 2.8em;
  margin: 0 auto;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 0 1.5rem 0 1.5rem;
  border: 4px solid #e6ddc4;
  background-color: rgba(0, 0, 0, 0.7);
  width: 280px;
  height: auto;
}

.menu h3 {
  font-size: 2.5em;
}

.menu p {
  font-size: 1.6em;
}

.vistaMenu {
  background-color: rgba(0, 0, 0, 0.7) !important;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vistaMenu img {
  border-radius: 1rem;
}

.cont-nosotros {
  padding: 3rem 0;
  text-align: center;
  font-family: "Dongle", sans-serif;
  color: #e6ddc4;
}

.cont-nosotros h3 {
  font-size: 2.5em;
}

.cont-nosotros p {
  font-size: 1.6em;
}

.cont-animation {
  overflow: hidden;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}

.cont-animation img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 25px #dad73a;
          box-shadow: 0 0 25px #dad73a;
}

.cont-animation:hover > img {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}

.mrg {
  margin-top: 9rem;
  color: #e6ddc4;
  font-family: "Dongle", sans-serif;
  font-size: 1.6em;
}

.mrg .img-fluid {
  width: 100%;
  height: 60vh;
  border-radius: 1rem;
}

.mrg h3 {
  font-size: 2.5em;
}

.nuestrosLocales {
  background-image: url("../imagenes/imagen-local.jpg");
  margin: 2rem auto;
}

.nuestrosLocales h2 {
  color: #e6ddc4;
  text-align: center;
}

.tituloLocal {
  color: #e6ddc4;
}

.bloque-local {
  font-family: "Dongle", sans-serif;
  width: 22rem;
  text-align: center;
  margin: 1rem 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.6em;
  background-color: #e6ddc4;
}

.bloque-local .img-locales {
  width: 25px;
  height: 25px;
}

.bloque1:hover {
  color: #f95959 !important;
  cursor: pointer;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 0 30px #f95959;
          box-shadow: 0 0 30px #f95959;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.bloque2:hover {
  color: #53a8b6 !important;
  cursor: pointer;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 0 30px #53a8b6;
          box-shadow: 0 0 30px #53a8b6;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.bloque3:hover {
  color: #f95959 !important;
  cursor: pointer;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 0 30px #f95959;
          box-shadow: 0 0 30px #f95959;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.bloque4:hover {
  color: #53a8b6 !important;
  cursor: pointer;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 0 30px #53a8b6;
          box-shadow: 0 0 30px #53a8b6;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.bloque5:hover {
  color: #f95959 !important;
  cursor: pointer;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 0 30px #f95959;
          box-shadow: 0 0 30px #f95959;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.bloque6:hover {
  color: #53a8b6 !important;
  cursor: pointer;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 0 30px #53a8b6;
          box-shadow: 0 0 30px #53a8b6;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.formularioContacto {
  text-align: center;
  width: 100%;
  height: auto;
  font-family: "Dongle", sans-serif;
  color: #e6ddc4;
}

.formularioContacto .introContacto {
  font-size: 2.5em;
  background-color: #064663;
  margin: 9rem auto 2rem;
  border-radius: 10px;
  width: 65%;
  height: auto;
}

.formularioContacto h2 {
  font-size: 50px;
}

.cont-img-contacto {
  background-image: url("../imagenes/contacto-img2.jpg");
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.div-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.7);
}

.container-form {
  width: 70%;
  height: auto;
}

.container-form form {
  width: 100%;
  height: auto;
}

.div-info {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.list-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: 100%;
  border: 2px solid red;
  border-top: none;
  border-bottom: none;
  border-right: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-info h2 {
  font-size: 2.5em;
}

.list-info p {
  font-size: 1.6em;
}

.input-cont {
  width: 100%;
  height: 50px;
  padding: 30px;
}

.input {
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 15px;
}

.input input {
  width: 100%;
  height: 35px;
  outline: none;
  border: none;
  border-bottom: 2px solid #2ecece;
  font-size: 20px;
  background-color: transparent;
  color: blanchedalmond;
}

.input label {
  position: absolute;
  left: 1px;
  bottom: 5px;
  color: #2ecece;
  font-size: 25px;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input input:focus ~ label,
.input input:valid ~ label {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-size: 20px;
  color: #2ecece;
}

.input input:focus,
.input input:valid {
  border-color: #2ecece;
}

.mensaje {
  margin: 20px auto;
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  background-color: #f16821;
  width: 100px;
  height: 40px;
  font-weight: bold;
  font-size: 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
}

@media only screen and (max-width: 768px) {
  .div-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 80%;
    height: 100%;
    margin: 2rem 0;
  }
  .list-info {
    width: 100%;
    height: auto;
    margin: 2.5rem auto;
    border: 2px solid red;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  .cont-img-contacto {
    width: 100%;
    height: auto;
  }
  .container-form {
    width: 100%;
    height: auto;
  }
  .div-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn {
    margin: 1.5rem auto;
  }
}

@media only screen and (min-width: 1024px) {
  .vistaMenu {
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vistaMenu img {
    margin-top: 1rem;
    width: 40vh;
    height: 30vh;
  }
  .vistaMenu div {
    width: 100%;
    height: 210px;
  }
  .slogan-texto {
    width: 45%;
    height: auto;
    font-size: 2.5em;
  }
  .img-banner {
    width: 100%;
    height: 100vh;
  }
}

@media (min-width: 481px) and (max-width: 1023px) {
  .general {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .general .d-menu {
    width: 100%;
  }
  .vistaMenu {
    width: 100%;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .vistaMenu img {
    margin: 1rem;
    width: 90%;
    height: auto;
  }
  .vistaMenu div {
    width: 100%;
    height: auto;
  }
  .slogan-texto {
    width: 60%;
    height: auto;
    font-size: 2.5em;
  }
  .img-banner {
    width: 100%;
    height: 80vh;
  }
}

@media (min-width: 280px) and (max-width: 480px) {
  .vistaMenu {
    width: 85%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vistaMenu img {
    margin-top: 1.5rem;
  }
  .vistaMenu div {
    width: 100%;
    height: auto;
  }
  .slogan-texto {
    width: 80%;
    height: auto;
    font-size: 1.6em;
  }
  .img-banner {
    width: 100%;
    height: 60vh;
  }
}
/*# sourceMappingURL=styles.css.map */